* {
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(255, 242, 242);

}

body {
    margin-top: 5.25rem;
}

html {
    font-size: 14px;
}

main {
    justify-content: space-around;
}

.flex {
    display: flex;
}


/* Instructions */ 

.instructions {
    flex: 1;
    padding: 0 20px;
    max-width: 300px;
}

.instructions h1 {
    font-weight: bold;
    font-size: 2.5rem;
    color: rgb(32, 64, 86)
}

.instructions h2 {
    font-size: 1rem;
    font-weight: bold;
}

.instructions h2,
.instructions p {
    color: rgb(74, 74, 74);
}

/* Cards */

#game {
    flex-wrap: wrap;
    flex: 3;
    max-width: 750px;
}

.card {
    width: 12.5rem;
    height: 12.5rem;
    background-color: rgb(32, 64, 86);
    border: 4px solid #fff;
    border-radius: 8px;
}

.game {
    
}
